<!--The content below is only a placeholder and can be replaced.-->
<div class="display-result" *ngIf="response && response.length">
    <input list="userList" type="search" class="search-box" [(ngModel)]="seacrhText" (keydown)="onKeyDown($event)" />
    <span class="clear-search" (click)="clearSearch()">&times;</span>
    <datalist id="userList">
      <option *ngFor="let item of response | filterUser: seacrhText" value="{{item.first_name + ' ' + item.last_name}}, {{item.email}}, {{item.address}}">
    </datalist>
</div>
